/Praktika_1/hello1.c~
out
*~
*.o
/Praktikas/Pr5/test.file
/Praktikas/Pr5/hello
/Praktikas/Pr5/copy
/Praktikas/Pr5/Teilaufgabe_1/copy
/Praktikas/Praktika_5.tar.gz
/Praktikas/Praktika_5.tgz
/Praktikas/Pr8/Aufgabe_3/starter
